<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhsOwaT1g4aFUhv_f9wG5_W6_GwMP8yFU</string>
	<key>GCM_SENDER_ID</key>
	<string>681112239506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.earlybirdteam2024.early-bird</string>
	<key>PROJECT_ID</key>
	<string>earlybird-9626f</string>
	<key>STORAGE_BUCKET</key>
	<string>earlybird-9626f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681112239506:ios:d75dff1168d1da3cc1554b</string>
</dict>
</plist>